.footer {
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #C0C0C3;
    opacity: 1;
}

.ul {
    list-style-type: none;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 70px;
    background: var(--unnamed-color-b70320) 0% 0% no-repeat padding-box;
    background: #B70320 0% 0% no-repeat padding-box;
    opacity: 0.9;
}
